[submodule "src/modules/3d-test-resources"]
	path = src/modules/3d-test-resources
	url = git@github.com:winksaville/3d-test-resources
[submodule "src/modules/zig-freetype2"]
	path = src/modules/zig-freetype2
	url = git@github.com:winksaville/zig-freetype2
[submodule "src/modules/zig-geometry"]
	path = src/modules/zig-geometry
	url = git@github.com:winksaville/zig-geometry
[submodule "src/modules/zig-json"]
	path = src/modules/zig-json
	url = git@github.com:winksaville/zig-json
[submodule "src/modules/zig-misc"]
	path = src/modules/zig-misc
	url = git@github.com:winksaville/zig-misc
[submodule "src/modules/zig-sdl2"]
	path = src/modules/zig-sdl2
	url = git@github.com:winksaville/zig-sdl2
