[submodule "modules/zig-sdl2"]
	path = modules/zig-sdl2
	url = git@github.com:winksaville/zig-sdl2
	branch = add-to-mouse-render-video
[submodule "modules/zig-json"]
	path = modules/zig-json
	url = git@github.com:winksaville/zig-json.git
[submodule "modules/zig-geometry"]
	path = modules/zig-geometry
	url = git@github.com:winksaville/zig-geometry.git
[submodule "modules/3d-test-resources"]
	path = modules/3d-test-resources
	url = git@github.com:winksaville/3d-test-resources
